nav ul {
  list-style-type: none;
  magrin: 0;
  padding: 0;
}

nav ul li {
  float: left;
}

a{
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: grey;
  color: white;
}