nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}

nav ul li a{
  display: block;
  padding: 8px;
  background-color: #dddddd;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: grey;
  color: white;
}

#mainContent {
  clear: left;
  padding-top: 2em;
}


h1 {
	text-align: center;
	text-decoration: underline;
	font-family: 'Nunito', sans-serif;
	color: #4DB060;

}

h2 {
	margin-left: 40px;
	font-family: 'Oswald', sans-serif;
	color: #E9967A;
}

ul {
	text-decoration: underline;
	font-family: calibri;
	color: #CD5C5C;
}

p {
  border-style: hidden;
  width: 500px;
  height: 60px;
  text-align: justify;
  color: #708090;
  font-family: calibri;

}

li {
  font-family: 'Bangers', cursive;
  font-size: 40px;
}
